/*------------------------------------*\
  #CSS RESET && VARIABLES
\*------------------------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}


:root {
    /* PRIMARY */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    /* NEUTRAL */
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}





/*------------------------------------*\
  #BODY
 * 1) Making my container to flex-item that I can center it horizontally
      & vertically
\*------------------------------------*/

body {
  display: flex; /* [1] */
  flex-direction: column; /* [1] */
  justify-content: center; /* [1] */
  align-items: center; /* [1] */
  min-height: 100vh; /* [1] */
  background: #ececec;
  font-family: 'Red Hat Display', sans-serif;
}





/*------------------------------------*\
  #CONTAINER
  
 * 1) Using [overflow: hidden] to archive the goal to make the top and bottom
      of my container rounded.
\*------------------------------------*/

.container {
  max-width: 23.438rem;
  border-radius: 20px;
  overflow: hidden; /* [1] */
}


.container--color { background: white; }
.container--width { max-width: 20rem; width: 90%; }





/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.header__img {
  width: 100%;
}





/*------------------------------------*\
  #MAIN
 * 1) Centering the whole texts in my main content.
 * 2) Making the items inside .main__plan centering vertically
 * 3) Matching the vertically centering of the img with the rest of the
      content.
\*------------------------------------*/

.main {
  text-align: center; /* [1] */
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .main__heading {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  .main__text {
    width: 85%;
    line-height: 1.5rem;
  }

  .main__plan {
    margin: 1.5rem 0 1rem 0;
    display: flex; /* [2] */
    align-items: center; /* [2] */
    border-radius: 10px;
    padding: 1rem;
    width: 88%;
  }

    .main__plan__img {
      width: 100%;
      margin-right: 1rem;
    }

    .main__plan__change {
      margin-left: 2rem;
    }

  .main__payment {
    background: var(--bright-blue);
    color: white;
    padding: 0.8rem;
    margin-top: 0.5rem;
    border-radius: 15px;
    font-weight: 700;
    width: 88%;
  }


.main__text--color { color: var(--desaturated-blue); }


.main__plan--color { background: var(--very-pale-blue); }


.main__plan__change__text--color { color: var(--bright-blue); }


.main__plan__first--block  { display: block; }
.main__plan__first--weight { font-weight: 700; }
.main__plan__first--color  { color: var(--dark-blue); }


.main__plan__second--color { color: var(--desaturated-blue);}


.main__heading--color { color: var(--dark-blue); }





/*------------------------------------*\
  #FOO
\*------------------------------------*/

/*------------------------------------*\
  #FOO
\*------------------------------------*/











footer {
    width: 90%;
    max-width: 20rem;
}